// Base colors

$color-blue: #00c8c8;
$color-black: #333333;
$color-white: #ffffff;
$color-grey: #727272;

// Text colors

$color-text-black: $color-black;
$color-text-white: $color-white;
$color-text-blue: $color-blue;
$color-text-grey: $color-grey;

